<div ng-controller="homeController">
  <div ng-if="loggedIn()" class="container-fluid">
    <div ng-if="serverData.connectedServers == undefined || serverData.connectedServers.length == 0">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Servers</h3>
        </div>
        <div class="panel-body">
          <p ng-if="$parent.serverData.connectedServers == undefined">Servers are being loaded...</p>
          <p ng-if="$parent.serverData.connectedServers.length == 0 && $parent.serverData.disconnectedServers.length == 0">
            You don't have any servers! Try <a href="#" data-target="#server-modal" data-toggle="modal">adding one</a>!
          </p>
          <p ng-if="$parent.serverData.connectedServers.length == 0 && $parent.serverData.disconnectedServers.length > 0">
            You don't have any connected servers! Make sure all of your added ones are turned on, or try <a href="#" data-target="#server-modal" data-toggle="modal">adding one</a>!
          </p>
        </div>
      </div>
    </div>
    <div ng-if="serverData.connectedServers.length > 0 ">
      <server-table
        servers="$parent.serverData.connectedServers"
        connected="'success'"
        callback="$parent.showServer"
        header="'Connected Servers'">
      </server-table>
    </div>
    <div ng-if="serverData.disconnectedServers.length > 0">
      <server-table
        servers="$parent.serverData.disconnectedServers"
        connected="'danger'"
        callback="$parent.showServer"
        header="'Disconnected Servers'">
      </server-table>
    </div>

    <!-- Server Configuration Modal -->
    <div class="modal fade" id="server-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ shownServer.name || "New Server" }}</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon" id="server-name-addon">Server Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="text" class="form-control" ng-model="server.serverName">
            </div>
            <div class="input-group below">
              <span class="input-group-addon" id="address-addon">Server IP Address</span>
              <input type="text" class="form-control" ng-model="server.serverAddress" ng-disabled="shownServer">
            </div>
            <div class="input-group below">
              <span class="input-group-addon" id="port-addon">SSH Port&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input type="text" class="form-control" ng-model="server.sshPort">
            </div>
            <button type="button" class="btn btn-danger below" ng-if="shownServer" ng-click="deleteServer(shownServer)">Delete</button>
            <p class="error-message below">{{ modalMessage }}</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="shownServer = null">Cancel</button>
            <button class="btn btn-primary" ng-click="saveServer($event)" type="submit" data-dismiss="modal">{{ shownServer && "Update" || "Save" }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!loggedIn()" class="container-fluid">
    <div class="jumbotron">
      <h1>Here are where your servers would be!</h1>
      <p>Notgios offers (or will at some point) near zero configuration of Linux based cloud servers, and offers the following services:</p>
      <ul>
        <li class="advertising">Monit-like supervision of processes.</li>
        <li class="advertising">Collection of process metrics (CPU, memory, IO usage).</li>
        <li class="advertising">Collection of disk (total and per directory) usage metrics.</li>
        <li class="advertising">Collection of general system metrics (load average, total CPU, total IO).</li>
        <li class="advertising">Easy visualization of said metrics.</li>
        <li class="advertising">Traditional alarm functionality (text messages, emails) based on metric thresholds.</li>
        <li class="advertising">Predictive alarm functionality based on configurable trends.</li>
      </ul>
      <!-- TODO: Put some sort of preview or something here for what the screen would look like if you were logged in and had servers. -->
      <br>
      <p>So what are you waiting for? Sign up!</p>
    </div>
  </div>
</div>
